.aab{
    background-image: var(--bimg);
    
}
.aktiveaktivebox{
    animation: erase 2.5s 0s forwards;  
    animation-delay: calc(var(--oder)*0.2s);  
   
}
.aktiveaktivebox2{
    animation: erase2 2.5s 0s forwards;  
    animation-delay: calc(var(--oder)*0.2s);   
    
}
.stichbox{
         
    display: flex;
    justify-content: space-around;
}
.aktivegamebox{
    
    display: flex;
 
}
.flex1,.playerbox,.c,.d{
    flex:1;
}
.ndisplaybox{
    background-image: var(--bimg);
    
    display: flex;
    justify-content: space-between; 
}
.playerbox{
    background-image: var(--bimg);
    object-fit:scale-down;
    /* background-color: rgba(0, 0, 0, 0.692); */
    box-shadow:var(--nbcolor) 0px 0px 10px;
    border: var(--nbcolor) 1px solid;
    box-shadow: inset rgb(10, 0, 83) 0px 0px 0vw 0px;
    margin: 0.5vh;
    transition: all 0.5s;
    animation-delay: calc(var(--oder)*0.5s);
    transition: all 0.3s;
    box-shadow:var(--fcolor) 0px 0px 0px;
    
}

.activeplayer{
    box-shadow:rgb(21, 0, 255) 0px 0px 30px;
   
    transition: all 1s;
    color: var(--tcolor);
    text-shadow: red 0 0 10px;
    background-color: black;
    transition: all 0.3s;
}
.activeplayer2{
    box-shadow:var(--scolor) 0px 0px 30px;
    transition: all 0.5s;
    color: var(--tcolor);
    text-shadow: red 0 0 10px;
    background-color: black;
    box-shadow:var(--fcolor) 0px 0px 30px;



}

.points1,.name,.prd,.made,.reslt{
    border: var(--nbcolor) 1px solid;
    
}

.prd,.made,.reslt{
    flex:1;
    text-align: center;
}
.points1{
display: flex;
padding-left: 1vw;
padding-right: 1vw;
}
.name{
    padding-left: 1vw;
    flex:1;
   
}
