
.btnsbox{
                
    display:flex;
    position: absolute;
    top: 40vh;
    left: -100vw;
    right: 100vw;
   
    
}
.btnsbox button{
    background-image: var(--bimg);
    margin:1vh;
    color: var(--fcolor);
    text-shadow: 0px 0px 10px var(--scolor);
    font-size: 5vh;
    min-height: 5vh;
    border: 1px var(--bcolor) solid;
    box-shadow: 0px 0px 10px var(--scolor);
    transition: all 0.3s;
    background-position: 100% 10%;
    

}
.btnsbox button:hover,.Keyborad button:hover{
    background-position:100% 9%;
    box-shadow: 0px 0px 50px var(--fcolor);
   
}
.nbtn{
flex:1;
}
.nrbtn{
flex:3;
}


.Keyborad{

    position: absolute;
    top: 33vh;
    left:110vw;
    right:-110vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.btnk{
    background-image: var(--bimg);
    margin:1vh;
    color: var(--fcolor);
    text-shadow: 0px 0px 10px var(--scolor);
    font-size: 5vh;
    height: 6vh;
    border: 1px var(--bcolor) solid;
    box-shadow: 0px 0px 10px var(--scolor);
    transition: all 0.3s;
    background-position: 100% 10%;
}
.nonumber{
    text-shadow: 0px 0px 10px var(--fcolor); 
    box-shadow: 0px 0px 30px var(--fcolor);
    border: 3vh var(--fcolor) solid;
    font-size: 0vh;

}
.btnk2{
    background-position: 100% 8%;
    animation: change 2s forwards;
    animation-delay: calc(var(--oder)*50ms);
}