:root{
    --fcolor:rgb(174, 0, 0);
    --scolor:rgb(14, 163, 0);
    --tcolor:rgb(255, 242, 0);
    --bcolor: rgb(0, 0, 255);
    --sside:10vw;
    --sheight:10vh;
    --bimg:url(../img/david-jorre-oQbLeq4nOek-unsplash.jpg);

    --nbcolor:rgb(0, 30, 255);
}
body{
    transition: all 3s;
    background-color: black;
    /* height: 500vh; */
    background-image: var(--bimg) ;
    color: var(--fcolor);
    text-shadow: 0px 0px 10px var(--scolor);
    overflow-x: hidden;
    font-size: 5vh;
    font-family: 'Pirata One', cursive;

    }
.body2{
    /* background-position: left; */

    background-position:right top;
    object-fit: fill;
    transition: all 5s ;
}
.goout{
    animation: goout 3s forwards ;
}
.goin{
    animation: goin 3s forwards ;
}
.goout2{
    animation: goout2 3s forwards ;
}
.goin2{
    animation: goin2 3s forwards ;
}
.goout3{
    animation: goout3 3s forwards ;
}
.goin3{
    animation: goin3 3s forwards ;
}

.klead{
    animation: kleads1 18s forwards ;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.kleadtext{
    color: transparent;
    text-shadow: 0 0 0 ;
    font-size: 0;
    /* height: 90%;
    width: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
.kleadtexta{
    animation: keleads2 18s forwards;
}
.kleadtexta2{
    animation: keleads3 18s forwards;
}

.gamebox{
    position: absolute;
    
    background-position: bottom;
    top:-110vh;
    height: 92vh;
    left:0;
    right: 0vw;
    animation: startgame 3s forwards;
}

.newsrefresh{
  animation: newsrefrescha 1s forwards;
}

    @keyframes newsrefrescha {
        0%{
            transform:rotateY(0deg);
        }

        /* 50%{
            transform: rotate(180deg);
        } */

        100%{
            transform:rotateY(360deg);

        }
    }

    @keyframes kleads1 {
        0%{
            background-color:transparent;
        }
        4%{
            background-color: black;
        }
        90%{
            background-color: black;
        }
        100%{
            background-color:transparent
        }
        
    }
    @keyframes keleads2 {
        0%{
            transform:rotate3d(10,1,5,300deg);
            color: rgba(240, 248, 255, 0);
        }
        14%{
            color: rgba(240, 248, 255, 0);
            
        }
        15%{
            color: var(--tcolor);
            font-size: 2vh;
            
            
        }
        20%{


        }
        30%{
            
            font-size: 15vh;

         
            
        }
        38%{
            color: var(--tcolor);
        }
        39%{
            color: var(--fcolor);
           
        }
        40%{
            transform:rotate3d(0,0,0,0deg);
        }
        43%{
            text-shadow: 0 0 0 transparent;
            color: var(--fcolor);
        }
        44%{
            text-shadow: -4vh -4vh 4px var(--scolor);
            color:var(--fcolor);
            /* text-shadow: -4vh -4vh 1vh var(--fcolor); */
        }
        49%{
            text-shadow: -4vh -4vh 4px var(--scolor);
            color:var(--fcolor);
        }
        50%{
            text-shadow: 0vh 0vh 1vh var(--scolor);
            color:var(--fcolor);
            /* color: var(--tcolor); */
            transform:rotate3d(0,0,0,0deg);
            font-size: 15vh; 
        }
        59%{
            text-shadow: 0vh 0vh 1vh var(--scolor);
            color:var(--fcolor); 
        }
        60%{
            text-shadow: 0vh 0vh 4vh var(--scolor);
            color:var(--fcolor); 
        }
        69%{
           
           
            color:var(--fcolor);
/* 
            text-shadow: -4vh -4vh 0vh var(--fcolor); */
        }
        70%{
            color: var(--tcolor);
            
            
        }
        80%{
            transform:rotate3d(0,0,0,0deg);
            font-size: 15vh;
            color: var(--tcolor);
        }
        86%{
            color: var(--tcolor);
            font-size: 15vh;
        }
        89%{
           font-size: 4px;
            color: transparent;
        }
        /* 90%{
            color: var(--tcolor);
        } */
        100%{
            color: rgba(240, 248, 255, 0);
             transform:rotate3d(10,-1,-3,220deg);
        }
    }
    @keyframes keleads3 {
        0%{
            transform:rotate(300deg);
            transform: skewy(110deg);
            color: rgba(240, 248, 255, 0);
        }
        14%{
            color: rgba(240, 248, 255, 0);
            
        }
        15%{
            color: var(--tcolor);
            font-size: 2vh;
            
            
        }
        20%{


        }
        30%{
            
            font-size: 15vh;

         
            
        }
        38%{
            color: var(--tcolor);
        }
        39%{
            color: var(--fcolor);
           
        }
        40%{
            transform:rotate(0deg);
            transform: skewy(0deg);

        }
        43%{
            text-shadow: 0 0 0 transparent;
            color: var(--fcolor);
        }
        44%{
            text-shadow: -4vh -4vh 4px var(--scolor);
            color:var(--fcolor);
            /* text-shadow: -4vh -4vh 1vh var(--fcolor); */
        }
        49%{
            text-shadow: -4vh -4vh 4px var(--scolor);
            color:var(--fcolor);
        }
        50%{
            text-shadow: 0vh 0vh 1vh var(--scolor);
            color:var(--fcolor);
            /* color: var(--tcolor); */
            transform:rotate(0deg);
            font-size: 15vh; 
            transform: skewy(0deg);

            
        }
        59%{
            text-shadow: 0vh 0vh 1vh var(--scolor);
            color:var(--fcolor); 
        }
        60%{
            text-shadow: 0vh 0vh 4vh var(--scolor);
            color:var(--fcolor); 
        }
        69%{
           
           
            color:var(--fcolor);
/* 
            text-shadow: -4vh -4vh 0vh var(--fcolor); */
        }
        70%{
            color: var(--tcolor);
            
            
        }
        80%{
            transform:rotate(0deg);
            font-size: 15vh;
            transform: skewy(0deg);

            color: var(--tcolor);
        }
        86%{
            color: var(--tcolor);
            font-size: 15vh;
        }
        89%{
           font-size: 4px;
            color: transparent;
        }
        /* 90%{
            color: var(--tcolor);
        } */
        100%{
            color: rgba(240, 248, 255, 0);
             transform:rotate(120deg);
            transform: skewy(80deg);

        }
    }
    @keyframes goout {
        0%{
            left:  var(--sside);
            right: var(--sside);
            box-shadow: 0px 0px 40px var(--scolor);
        }
        50%{
            transform: rotate(5deg);
            box-shadow: 0px 0px 100px var(--bcolor);
        }
        100%{
            box-shadow: 0px 0px 40px var(--scolor);
            left:-110vw;
            right:110vw
        }
        
        
    }
    @keyframes goin {
        
        0%{
            left:110vw;
            right:-110vw;
            box-shadow: 0px 0px 40px var(--scolor);
        }
        50%{
            box-shadow: 0px 0px 100px var(--bcolor);
            transform: rotate(5deg);
        }
        100%{
            box-shadow: 0px 0px 40px var(--scolor);
            left:  var(--sside);
            right: var(--sside);
        }
        
    }

    @keyframes goout2 {
        0%{
            left:  0;
            right: 0;
        }
        100%{
            left:-110vw;
            right:110vw
        }
        
        
    }
    @keyframes goin3 {
        
        0%{
            left:-110vw;
            right:110vw
        }
        
        100%{
            left:  0;
            right: 0;
        }
        
    }
    @keyframes goout3 {
        0%{
            left:  0;
            right: 0;
        }
        
        100%{
            left:110vw;
            right:-110vw
        }
        
        
    }
    @keyframes goin2 {
        
        0%{
            left:110vw;
            right:-110vw
        }
        
        100%{
            left:  0;
            right: 0;
        }
        
    }
    @keyframes startgame {
        0%{
            top:-110vh;
        }
        100%{
            top:8vh;
        }
    }
    @keyframes startgame2 {
       0%{
        left: 100vw;
        right: -150vw;
       }
       100%{
        left: 0vw;
        right: 0vw;
       }
    }
    @keyframes startgame3 {
        0%{
        left: -100vw;
        right: 100vw;
       }
       100%{
        left: 0vw;
        right: 0vw;
       }
    }
    @keyframes startgame4{
        0%{
        transform: translateY(-40vh);
       }
    
       100%{
        transform: translateY(0);

       }
    }
    @keyframes erase {
        0%{
            background-color: black;
            transform: translateY(0vh);
       }
       50%{
       
        transform: translateY(-30vh);
        background-color: rgb(0, 0, 0);
       
       }
       95%{
        transform: translateY(0);
        background-color: black;
       }
       100%{
        background-color: rgba(0, 0, 0, 0.446);
       }
    }
    @keyframes erase2 {
        0%{
            transform: translateY(0);
       }
       50%{
        transform: translateY(-20vh);
       }
       100%{
        transform: translateY(0);
       }
    }
    @keyframes change {
        0%{
        transform:  rotate(0);
        }
        50%{
        box-shadow: 0 0 30px var(--tcolor);
        }
        100%{
        transform: rotate(360deg);
        color: var(--tcolor);
        border: 1px var(--bcolor) solid;
        text-shadow: 0px 0px 10px var(--fcolor);
        box-shadow: 0px 0px 10px var(--fcolor);
        }
    }
    @keyframes points {
        0%{
            transform: rotate(0);
        }
        100%{
            transform: rotate(360deg);
        }
    }
    @keyframes changeinfobar {
        0%{
            transform: rotatey(0deg);
        }
        100%{
            transform: rotatey(360deg);
        }
    }
    @keyframes anboxout {
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
    @keyframes anboxin {
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }
    

    .changeinfobar{
        animation: changeinfobar  3s forwards;
    }
    .pointsref{
        animation: points 1s forwards;
    }
    .erase{
        animation: erase 1s forwards;
    }
    
    .infobar{
        background-image: var(--bimg);
        background-color: black;
        height: 7vh;
        position: fixed;
        top:0;
        left: 100vw;
        right: -100vw;
        border: yellow 3px solid;
        display: flex;
        justify-content: space-between;
        padding-left: 1vw;
        padding-right: 1vw;
        align-items: center;
        overflow-x: hidden;
        animation: startgame2 3s  forwards;
    }
    /* .ifbi{
        flex:1;
    } */
    .startgame3{
        animation: startgame3 3s 2.5s forwards;
    }
    .startgame4{
        animation: startgame4 3s backwards;
    }
    .anboxout{
        animation: anboxout 1s forwards;
    }
    .anboxin{
        animation: anboxin 1s forwards;
    }
    